:root {
    --dark1: #743332;
    --dark2: #667C86;
    --dark3: #561312;
    --normal: #CF565D;
    --light1: #D8898B;
    --light2: #F1F1ED;
}

#top-gap {
    height: 35px;
    margin-top: 7vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: var(--dark2);
    overflow-x: hidden;
}

a:hover {
    color: var(--light2);
}

@media only screen and (max-width: 600px){

    #top-gap {
        height: 2px;
        margin-top: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #top-gap {
        height: 30px;
    }
}